<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
           default-autowire="byName">

	<bean id="iCeph" class="com.gome.cloud.compile.ceph">
		<property name="accessKey" value="${ceph.accessKey}"/>
		<property name="secretKey" value="${ceph.secretKey}"/>
		<property name="bucketName" value="${ceph.bucketName}"/>
		<property name="host" value="${ceph.host}"/>
	</bean>

     <bean id="testService" class="com.gome.cloud.service.TestServiceImpl"/>
    
</beans>